img{
    height: 200px;
    width: 250px;
}
.laptop-container button{
    font-size: 16px;
    padding: 6px 10px;
    cursor: pointer;
    background-color: brown;
    color: white;
    border-radius: 5px;
}
.laptop-container{
    padding: 10px;
    margin: 5px;
}